// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2024 Adakta, Ltd.
 *
 */

/ {
	vbus5v0_typec0: vbus5v0-typec0 {
		compatible = "regulator-fixed";
		regulator-name = "vbus5v0_typec0";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		enable-active-high;
		gpio = <&gpio0 RK_PD0 GPIO_ACTIVE_HIGH>;
		vin-supply = <&vcc5v0_sys>;
		pinctrl-names = "default";
		pinctrl-0 = <&typec0_pwr_en>;
	};

	vbus5v0_typec1: vbus5v0-typec1 {
		compatible = "regulator-fixed";
		regulator-name = "vbus5v0_typec1";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		enable-active-high;
		gpio = <&gpio0 RK_PD3 GPIO_ACTIVE_HIGH>;
		vin-supply = <&vcc5v0_sys>;
		pinctrl-names = "default";
		pinctrl-0 = <&typec1_pwr_en>;
	};
};

&pinctrl {
	usb-typec0 {
		usbc0_int: usbc0-int {
			rockchip,pins = <1 RK_PB0 RK_FUNC_GPIO &pcfg_pull_up>;
		};

		typec0_pwr_en: typec0-pwr-en {
			rockchip,pins = <0 RK_PD0 RK_FUNC_GPIO &pcfg_pull_none>;
		};

		typec0_sbu1: typec0-sbu1 {
			rockchip,pins = <4 RK_PA0 RK_FUNC_GPIO &pcfg_pull_none>;
		};

		typec0_sbu2: typec0-sbu2 {
			rockchip,pins = <4 RK_PB0 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	usb-typec1 {
		usbc1_int: usbc1-int {
			rockchip,pins = <1 RK_PB3 RK_FUNC_GPIO &pcfg_pull_up>;
		};

		typec1_pwr_en: typec1-pwr-en {
			rockchip,pins = <0 RK_PD3 RK_FUNC_GPIO &pcfg_pull_none>;
		};

		typec1_sbu1: typec1-sbu1 {
			rockchip,pins = <4 RK_PA1 RK_FUNC_GPIO &pcfg_pull_none>;
		};

		typec1_sbu2: typec1-sbu2 {
			rockchip,pins = <4 RK_PA2 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};
};

&i2c2 {
	usbc0: fusb302@22 {
		compatible = "fcs,fusb302";
		reg = <0x22>;
		interrupts-extended = <&gpio1 RK_PB0 GPIO_ACTIVE_LOW>;
		int-n-gpios = <&gpio1 RK_PB0 GPIO_ACTIVE_LOW>;
		pinctrl-names = "default";
		pinctrl-0 = <&usbc0_int>;
		vbus-supply = <&vbus5v0_typec0>;
		status = "okay";

		connector {
			compatible = "usb-c-connector";
			label = "USB-C";
			data-role = "dual";
			power-role = "sink";
			try-power-role = "sink";
			op-sink-microwatt = <1000000>;
			sink-pdos =
				<PDO_FIXED(5000, 3000, PDO_FIXED_USB_COMM)
				 PDO_VAR(5000, 20000, 5000)>;

			altmodes {
				#address-cells = <1>;
				#size-cells = <0>;

				altmode@0 {
					reg = <0>;
					svid = <0xff01>;
					vdo = <0xffffffff>;
				};
			};

			ports {
				#address-cells = <1>;
				#size-cells = <0>;

				port@0 {
					reg = <0>;
					usbc0_hs: endpoint {
						remote-endpoint = <&usb_host0_xhci_drd_sw>;
					};
				};

				port@1 {
					reg = <1>;
					usbc0_ss: endpoint {
						remote-endpoint = <&usbdp_phy0_typec_ss>;
					};
				};

				port@2 {
					reg = <2>;
					usbc0_sbu: endpoint {
						remote-endpoint = <&usbdp_phy0_typec_sbu>;
					};
				};
			};
		};
	};
};

&i2c5 {
	usbc1: fusb302@22 {
		compatible = "fcs,fusb302";
		reg = <0x22>;
		interrupts-extended = <&gpio1 RK_PB3 GPIO_ACTIVE_LOW>;
		int-n-gpios = <&gpio1 RK_PB3 GPIO_ACTIVE_LOW>;
		pinctrl-names = "default";
		pinctrl-0 = <&usbc1_int>;
		vbus-supply = <&vbus5v0_typec1>;
		status = "okay";

		connector {
			compatible = "usb-c-connector";
			label = "USB-C";
			data-role = "dual";
			power-role = "sink";
			try-power-role = "sink";
			op-sink-microwatt = <1000000>;
			sink-pdos =
				<PDO_FIXED(5000, 3000, PDO_FIXED_USB_COMM)
				 PDO_VAR(5000, 20000, 5000)>;

			altmodes {
				#address-cells = <1>;
				#size-cells = <0>;

				altmode@0 {
					reg = <0>;
					svid = <0xff01>;
					vdo = <0xffffffff>;
				};
			};

			ports {
				#address-cells = <1>;
				#size-cells = <0>;

				port@0 {
					reg = <0>;
					usbc1_hs: endpoint {
						remote-endpoint = <&usb_host1_xhci_drd_sw>;
					};
				};

				port@1 {
					reg = <1>;
					usbc1_ss: endpoint {
						remote-endpoint = <&usbdp_phy1_typec_ss>;
					};
				};

				port@2 {
					reg = <2>;
					usbc1_sbu: endpoint {
						remote-endpoint = <&usbdp_phy1_typec_sbu>;
					};
				};
			};
		};
	};
};

/* USB2 PHY for USB Type-C port */
/* CM3588 USB Controller Config Table: USB20 OTG0 */
&u2phy0 {
	status = "okay";
};

&u2phy0_otg {
	// TODO
	// rockchip,typec-vbus-det;
	status = "okay";
};

/* USB2 PHY for USB 3.0 Type-A port 1 */
/* CM3588 USB Controller Config Table: USB20 OTG1 */
&u2phy1 {
	status = "okay";
};

&u2phy1_otg {
	// TODO
	// rockchip,typec-vbus-det;
	status = "okay";
};

/* USB2 PHY for USB 2.0 Type-A */
/* CM3588 USB Controller Config Table: USB20 HOST0 */
&u2phy2 {
	status = "okay";
};

&u2phy2_host {
	status = "okay";
};

/* USB2 PHY for USB 3.0 Type-A port 2 */
/* CM3588 USB Controller Config Table: USB20 HOST1 */
&u2phy3 {
	status = "okay";
};

&u2phy3_host {
	status = "okay";
};

/* USB 2.0 Type-A */
/* PHY: <&u2phy2_host> */
&usb_host0_ehci {
	status = "okay";
};

/* USB 2.0 Type-A */
/* PHY: <&u2phy2_host> */
&usb_host0_ohci {
	status = "okay";
};

/* Lower USB 3.0 Type-A (port 2) */
/* PHY: <&u2phy3_host> */
&usb_host1_ehci {
	status = "okay";
};

/* Lower USB 3.0 Type-A (port 2) */
/* PHY: <&u2phy3_host> */
&usb_host1_ohci {
	status = "okay";
};

/* USB Type-C */
/* PHYs: <&u2phy0_otg>, <&usbdp_phy0 PHY_TYPE_USB3> */
&usb_host0_xhci {
	status = "okay";
	dr_mode = "otg";
	usb-role-switch;
	port {
		#address-cells = <1>;
		#size-cells = <0>;

		usb_host0_xhci_drd_sw: endpoint@0 {
			reg = <0>;
			remote-endpoint = <&usbc0_hs>;
		};
	};
};

/* USB3 PHY for USB Type-C port */
/* CM3588 USB Controller Config Table: USB30 OTG0 */
&usbdp_phy0 {
	status = "okay";
	orientation-switch;
	rockchip,dp-lane-mux = <0 1 2 3 >;
	svid = <0xff01>;
	pinctrl-names = "default";
	pinctrl-0 = <&typec0_sbu1 &typec0_sbu2>;
	sbu1-dc-gpios = <&gpio4 RK_PA0 GPIO_ACTIVE_HIGH>;
	sbu2-dc-gpios = <&gpio4 RK_PB0 GPIO_ACTIVE_HIGH>;

	port {
		#address-cells = <1>;
		#size-cells = <0>;

		usbdp_phy0_typec_ss: endpoint@0 {
			reg = <0>;
			remote-endpoint = <&usbc0_ss>;
		};

		usbdp_phy0_typec_sbu: endpoint@1 {
			reg = <1>;
			remote-endpoint = <&usbc0_sbu>;
		};
	};
};

/* Upper USB 3.0 Type-A (port 1) */
/* PHYs: <&u2phy1_otg>, <&usbdp_phy1 PHY_TYPE_USB3> */
&usb_host1_xhci {
	status = "okay";
	dr_mode = "otg";
	usb-role-switch;
	port {
		#address-cells = <1>;
		#size-cells = <0>;

		usb_host1_xhci_drd_sw: endpoint@0 {
			reg = <0>;
			remote-endpoint = <&usbc1_hs>;
		};
	};
};

/* USB3 PHY for USB 3.0 Type-A port 1 */
/* CM3588 USB Controller Config Table: USB30 OTG1 */
&usbdp_phy1 {
	status = "okay";
	orientation-switch;
	rockchip,dp-lane-mux = <0 1 2 3 >;
	svid = <0xff01>;
	pinctrl-names = "default";
	pinctrl-0 = <&typec1_sbu1 &typec1_sbu2>;
	sbu1-dc-gpios = <&gpio4 RK_PA1 GPIO_ACTIVE_HIGH>;
	sbu2-dc-gpios = <&gpio4 RK_PA2 GPIO_ACTIVE_HIGH>;

	port {
		#address-cells = <1>;
		#size-cells = <0>;

		usbdp_phy1_typec_ss: endpoint@0 {
			reg = <0>;
			remote-endpoint = <&usbc1_ss>;
		};

		usbdp_phy1_typec_sbu: endpoint@1 {
			reg = <1>;
			remote-endpoint = <&usbc1_sbu>;
		};
	};
};

/* Lower USB 3.0 Type-A (port 2) */
/* PHYs: <&combphy2_psu PHY_TYPE_USB3> */
&usb_host2_xhci {
	status = "disabled";
};
